<section class="grid" *ngIf="isLoading">
  <app-product-card
    *ngFor="let i of [1, 2, 3, 4]"
    [isMock]="true"
  ></app-product-card>
</section>

<section class="grid" *ngIf="!isLoading">
  <app-product-card
    *ngFor="let product of products"
    [product]="product"
  ></app-product-card>
</section>
