main {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .grid {
    width: 320px;
  }
  .resume {
    width: 320px;
    border: 1px solid rgb(172, 172, 172);
    min-height: 70px;
    padding: 20px;
    h2 {
      border-bottom: 1px solid rgb(172, 172, 172);
    }
  }
}

:host ::ng-deep .cell-span {
  background: white;
  border-left: 1px solid lightgrey !important;
  border-right: 1px solid lightgrey !important;
  border-bottom: 1px solid lightgrey !important;
}

:host ::ng-deep .is-number {
  text-align: right;
}

:host ::ng-deep .ag-center-cols-container {
  width: 100% !important;
}

:host ::ng-deep .ag-body-horizontal-scroll {
  display: none;
}
:host ::ng-deep .has-trash {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (min-width: 820px) {
  main {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    .grid {
      width: 470px;
    }
  }
}