<mat-progress-bar mode="indeterminate" *ngIf="isLoading$ | async"></mat-progress-bar>
<main>
  <div class="grid">
    <ag-grid-angular
        style="height: 100%; width: 100%"
        class="ag-theme-alpine"
        [columnDefs]="columnDefs"
        [rowData]="rowData"
        [suppressRowTransform]="true"
        domLayout='autoHeight'
        [context]="context"
    >
    </ag-grid-angular>
  </div>
  <div class="resume">
    <h2>Resumen de compra</h2>
    <p>El total de su carrito es de {{total | currency: '$'}}</p>
    <button mat-raised-button color="primary" class="find-button" [disabled]="total <= 0" (click)="openDialog()">Confirmar</button>
  </div>
</main>