<mat-progress-bar mode="indeterminate" *ngIf="isLoading$ | async"></mat-progress-bar>
<form [formGroup]="form" (ngSubmit)="register(model)" class="form">
  <h1>Registro</h1>
  <formly-form
    [form]="form"
    [fields]="fields"
    [model]="model"
    class="formly"
  ></formly-form>
  <button mat-raised-button color="primary" class="find-button">
    Registrarse
  </button>
</form>
