<mat-form-field appearance="outline" class="form">
  <mat-select class="select" [value]="value" [(ngModel)]="value" (selectionChange)="toggleChangeQuantity()">
    <mat-option class="option" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]; let i = index;" [value]="item">
      {{item}}
    </mat-option>
  </mat-select>
</mat-form-field>