.form {
  width: 50px;
  .select {
    .option {
      width: 50px;
    }
  }
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix{
  padding: 0;
}
:host ::ng-deep .mat-form-field-wrapper{
  padding-bottom: 0;
}
:host ::ng-deep .mat-form-field-infix {
  border-bottom: 0.6em solid #0000;
}