.form {
  padding: 20px;
  max-width: 500px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .formly {
    width: 100%;
  }
  button {
    margin-bottom: 20px;
  }
}
