<main class="main">
  <app-finder></app-finder>
  <app-carousel class="section" [slides]="slides"></app-carousel>
  <app-info class="section"></app-info>
  <app-products-grid class="section"></app-products-grid>
</main>
