<h1 mat-dialog-title>Confirmación de carrito</h1>
<div mat-dialog-content>
  <p>¿Está seguro que desea confirmar su carrito de compra?</p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Confirmar</button>
</div>