<mat-toolbar color="primary" class="nav">
  <img src="../../../assets/white-logo.png" routerLink="/" class="logo">
  <div class="left-nav" *ngIf="isLooged$ | async">
    <button mat-button routerLink="/cart/closed">Historial</button>
    <mat-icon [matBadge]="quantity" matBadgeColor="warn" class="cart-icon" routerLink="/cart/current">shopping_cart</mat-icon>
    <button mat-button (click)="logout()">Cerrar sesión</button>
  </div>
  <div class="left-nav" *ngIf="!(isLooged$ | async)">
    <button mat-button routerLink="/register">Registro</button>
    <button mat-button routerLink="/login">Login</button>
  </div>
</mat-toolbar>