.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    height: 30px;
    cursor: pointer;
  }
  .left-nav {
    display: flex;
    align-items: center;
    gap: 5px;
    .cart-icon {
      margin-right: 10px;
      cursor: pointer;
    }
  }
}