<div class="container">
  <mat-card class="card" *ngIf="!isMock">
    <img mat-card-image [src]="product?.image_url" alt="product_photo" />
    <mat-card-header>
      <mat-card-title>{{ product?.name }}</mat-card-title>
      <mat-card-subtitle>{{ product?.description }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions class="actions">
      <button mat-icon-button color="primary" aria-label="minus" (click)="removeOne()" [disabled]="quantity == 1">
        <mat-icon>remove</mat-icon>
      </button>
      <span class="quantity">{{quantity}}</span>
      <button mat-icon-button color="primary" aria-label="plus" (click)="addOne()" [disabled]="quantity == 10">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-raised-button color="primary" (click)="addToCart()">Añadir al carrito</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card mock-card" *ngIf="isMock">
    <div class="mock-item">
      <app-skeleton type="rectangle" width="100%" height="200px"></app-skeleton>
      <app-skeleton type="rectangle" width="100%" height="20px"></app-skeleton>
      <app-skeleton type="rectangle" width="75%" height="15px"></app-skeleton>
    </div>
    <div class="mock-item-row">
      <app-skeleton type="circle" width="35px" height="35px"></app-skeleton>
      <app-skeleton type="circle" width="35px" height="35px"></app-skeleton>
      <app-skeleton type="rectangle" width="80px" height="35px"></app-skeleton>
    </div>
  </mat-card>
</div>
