.container {
  display: inline-block;
  width: 100%;
  .card {
    width: 300px;
    height: 380px;
    position: relative;
    img {
      margin-top: 10px;
      height: 200px;
      object-fit: contain;
    }
    .actions {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translate(-50%, 0);
      display: flex;
      justify-content: center;
      .quantity {
        display: flex;
        align-items: center;
      }
    }
  }
  .mock-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .mock-item {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .mock-item-row {
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  }
}
