<main>
  <h1>Historial de pedidos</h1>
  <div class="grid">
    <ag-grid-angular
      style="height: 100%; width: 100%"
      class="ag-theme-alpine"
      [columnDefs]="columnDefs"
      [rowData]="rowData"
      [suppressRowTransform]="true"
      domLayout='autoHeight'
    >
    </ag-grid-angular>
  </div>
</main>
