.finder {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .finder-form {
    width: 100%;
    max-width: 500px;
    margin: 0;
    padding: 0;
  }
  .find-button {
    width: 100px;
    height: 40px;
  }
}
:host ::ng-deep .mat-form-field-wrapper {
  margin: 0;
  padding-bottom: 0;
}
:host ::ng-deep .mat-form-field-subscript-wrapper {
  transform: translate(0, -4px);
}