<form [formGroup]="form" (ngSubmit)="find(model)" class="finder">
  <formly-form
    [form]="form"
    [fields]="fields"
    [model]="model"
    class="finder-form"
  ></formly-form>
  <button mat-raised-button color="primary" class="find-button">Buscar</button>
</form>
