section.info {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .card {
    flex: 1 1 0;
    .card-title {
      font-weight: normal;
      font-size: 14px;
      text-align: center;
    }
    .card-content {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 25px;
        margin-right: 5px;
      }
    }
  }
}

@media screen and (min-width: 880px) {
  section.info {
      flex-direction: row;
    }
}