<section class="info">
  <mat-card class="card">
    <mat-card-title class="card-title">Elegí el método de pago</mat-card-title>
    <mat-card-content class="card-content">
      <img src="https://mispichos.com/public/web/images/icons/icon-visa-credito.png" alt="visa">
      <img src="https://mispichos.com/public/web/images/icons/icon-master-credito.png" alt="master">
      <img src="https://mispichos.com/public/web/images/icons/icon-amex-credito.png" alt="master">
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-title class="card-title">Pagá en efectivo cuando lo recibís</mat-card-title>
    <mat-card-content class="card-content">
      <img src="https://mispichos.com/public/web/images/icons/icon-pago-efectivo.svg" alt="cash">
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-title class="card-title">Calificado por nuestros clientes</mat-card-title>
    <mat-card-content class="card-content">
      <img src="https://mispichos.com/public/web/images/icono-estrella-full.svg" alt="start">
      <img src="https://mispichos.com/public/web/images/icono-estrella-full.svg" alt="start">
      <img src="https://mispichos.com/public/web/images/icono-estrella-full.svg" alt="start">
      <img src="https://mispichos.com/public/web/images/icono-estrella-full.svg" alt="start">
      <img src="https://mispichos.com/public/web/images/icono-estrella-full.svg" alt="start">
    </mat-card-content>
  </mat-card>
</section>