.container {
  max-width: 1000px;
  margin: 20px auto;
  .carousel {
    width: 100%;
    aspect-ratio: 5/2;
    margin: auto;
    overflow: hidden;
    position: relative;
    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      position: absolute;
    }
    > .animated {
      animation: hideshow 5s infinite;
    }
  }
}
@keyframes hideshow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
