.skeleton {
  overflow: hidden;
  background-color: rgb(219, 219, 219);
  position: relative;
}
.skeleton:after {
  content:'';
	width:100%;
	height: 100%;
	position: absolute;
  top:0;
	transform:translateX(100%);
	z-index:1;
	animation: slide 1s infinite 2s;

  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */
}
.rectangle {
  border-radius: 5px;
}
.circle {
  aspect-ratio: 1;
  border-radius: 50%;
}
@keyframes slide {
	0% {transform:translateX(-100%);}
	50% {transform:translateX(100%);}
	100% {transform:translateX(100%);}
}