footer {
  height: 100%;
  background-color: #3f51b5;
  margin: 0;
  ul {
    margin: 0;
    padding: 20px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    li {
      margin: 0;
      padding: 0;
      color: white;
      font-weight: bold;
    }
  }
}